*{
	margin:0px;
	padding: 0px;
}
@font-face{
	font-family: "organo";
	src: url('font/organo/Organo.ttf');
}
@font-face{
	font-family: "quicksand";
	src: url('font/quicksand/Quicksand-Regular.ttf');
}
@font-face{
	font-family: "quicksand";
	font-weight: bold;
	src: url('font/quicksand/Quicksand-Bold.ttf');
}
body{
	background-color: #EBEBEB;
}
.toolsbar{
	margin-top: 25px;
	margin-bottom: 50px; 
}
.page-sidebar {
    background-color: #23232c;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
}
.page-sidebar .nav-divider {
    background-color: #32323d;
    height: 1px;
    margin: 8px 12px;
}
.addmixtape{
	font-size: 20px;
	font-family: quicksand;
}
th{
	font-size: 18px;
	font-weight: bold;
}
h1, h4{
	text-align: center; 
	color: #EBEBEB;
}