*{
	margin:0px;
	padding: 0px;
}
body{
	background-color: #EBEBEB;
}
/* Font */
@font-face{
	font-family: "organo";
	src: url('../assets/font/organo/Organo.ttf');
}
@font-face{
	font-family: "quicksand";
	src: url('../assets/font/quicksand/Quicksand-Regular.ttf');
}
@font-face{
	font-family: "quicksand";
	font-weight: bold;
	src: url('../assets/font/quicksand/Quicksand-Bold.ttf');
}
/* Title Sidebar */
.sidebar header{
	margin-bottom: 30px;
	color:#EBEBEB; 
	text-align: center;
}

.sidebar header h1{
	font-family: organo;
}

/* Sidebar body*/
.page-sidebar {
    background-color: #23232c;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
}
.page-sidebar .nav-divider {
	background-color: #32323d;
    height: 1px;
    margin: 8px 12px;
    margin-bottom: 15%;
}

/* Sidebar Menu */
.menubutton{
	font-family: quicksand;
	width:70%;
	font-weight: bold;
	background-color: #464748;
	color: #EBEBEB;
	margin-left: 35px;
	margin-bottom: 5%;
}

/* Components */	
.mixtapes th, .mixtape th{
	font-size: 18px;
	font-weight: bold;
	text-align: left;	
}
.topData{
	padding: 45px;
}
.mixtapes td, .mixtapes th, .mixtape td, .mixtape th{	
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px ;
	border-color: #F6F6F6;
	padding-left: 15px;
}
.mixtapes, .mixtape{
	color: black; 
	text-align:left; 
	font-family:quicksand;
	margin-left: 30px;
}
.link:hover{
	background-color: #CACACA;
	cursor: pointer;
}

/* Image */
.cover{
	margin: 30px;
	height: 270px; 
	width: auto;
}
.addForm{
	margin-top:300px;
}