*{
	margin:0px;
	padding: 0px;
}
body{
	background-color: #EBEBEB;
}
/* Font */
@font-face{
	font-family: "organo";
	src: url('../assets/font/organo/Organo.ttf');
}
@font-face{
	font-family: "quicksand";
	src: url('../assets/font/quicksand/Quicksand-Regular.ttf');
}
@font-face{
	font-family: "quicksand";
	font-weight: bold;
	src: url('../assets/font/quicksand/Quicksand-Bold.ttf');
}

/* Title Sidebar */
.sidebar header{
	margin-bottom: 30px;
	color:#EBEBEB; 
	text-align: center;
}
.sidebar header h1{
	font-family: organo;
}
.logo{
	margin-top: 15px;
	height: 60px;
	width: 60px;
}
/* Sidebar body*/
.page-sidebar, .page-sidebar-small {
    background-color: #23232c;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 20%;
}
.page-sidebar .nav-divider , .page-sidebar-small .nav-divider {
	background-color: #32323d;
    height: 1px;
    margin: 8px;
}

/* Sidebar Menu */

.page-sidebar button, .page-sidebar-small button{
	text-align: center;
	margin-top: 30px;
	background-color: #1F1F27;
	color: #EBEBEB ;
	border: solid 1px;
	border-color: #EBEBEB; 
}
.page-sidebar-small{
	display: none;
}
@media screen and (max-width: 1024px){
	.page-sidebar{
		width:22%;

	}
}
@media screen and (max-width: 800px){
	.page-sidebar-small{
		display: block;
	}
	.page-sidebar{
		display: none;
	}
	.cover{
		height: auto;
		width: 30%;
	}
}

/* Components */	
.mixtapes th, .mixtape th{
	font-size: 18px;
	font-weight: bold;
	text-align: left;	
}
.top-data{
	padding: 45px;
}
.mixtapes td, .mixtapes th, .mixtape td, .mixtape th{	
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px ;
	border-color: #F6F6F6;
	padding-left: 15px;
}
.mixtapes, .mixtape{
	color: black; 
	text-align:left; 
	font-family:quicksand;
	margin-left: 30px;
}
.link:hover{
	background-color: #CACACA;
	cursor: pointer;
}

/* Image */
.cover{
	margin: 30px;
	height: 270px; 
	width: auto;
}

.add-form{
	margin-top:300px;
}